body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo{
  margin:10px;
}

header {
  color:white;
  font-size: 1.5em;
}
header ul li{
  padding:10px;
  margin-right:10px;
  margin-left:10px;
  height:56px;
  text-align: center; 
}

header li:hover {
  background-color: purple;
}

.card {
  overflow-wrap: anywhere;
  margin: auto;
  margin-top:40px;
  background-color: aquamarine;
  display:flex;
  max-width:600px;
  min-height: 100px;
  width:70%;
  padding:1em;
  flex-flow: column wrap;
  border-radius: 15px;
  box-shadow:rgba(0, 0, 0, 0.26) 1px 1px 16px 0px;
}

.form-title{
  margin:10px;
  color: rgb(49, 11, 85);
}
.new-form input {
  padding: 10px;
  margin: 10px;
  height:40px;
  width:50%;
  border-radius: 25px;
  color:purple;
}

.new-form button{
  display:block;
  background-color: purple;
  border-radius: 20px;
  height:35px;
  width: 110px;
  margin:10px;
  color:white;
  float:right;
}

.new-form button:disabled, .new-form button:disabled:hover{
  display:block;
  background-color: grey;
  border-radius: 20px;
  height:35px;
  width: 110px;
  margin:10px;
  color:white;
  float:right;
}

.new-form button:hover {
  background-color: rgb(49, 11, 85);
}

.task-id{
  display: flex;
  margin-right: 15px;
  font-size: .9em;
  background-color: purple;
  min-width: 34px;
  min-height:34px;
  border-radius: 50px;
  color:white;
  align-items: center;
  justify-content: center;

}

.task-desc{
  overflow-wrap: anywhere;
  display:flex;
  align-items: center;
  margin-top: 7px;
  font-size: .9em !important;
  color:darkblue;
  background-color: white;
  border-radius: 25px;
  padding:13px;
}

.task-desc p {
  width: 100%;
  margin-right:10px;
}

body {
  background-image: url('https://images.unsplash.com/photo-1620203492457-0bf1274ba4b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2167&q=80');
  padding-bottom:50px;
}

button.edit{
  margin-left:auto;
  margin-right:10px;
}

@media  screen and (max-width: 600px) {
  .new-form input {
    padding: 10px;
    margin: 10px;
    height:40px;
    width:100%;
    border-radius: 25px;
    color:purple;
  }

  .new-form {
    display: flex;
    flex-flow: row wrap;
  }
}